#.gitignore
/.vscode/.ropeproject
/.vscode/launch.json
/.vscode/settings.json

/backup/
/build/
/dist/
/doc/private/
/res/private/
/src/bluescan/poc/bugs.md
/test/
/yotta_targets
/yotta_modules

/install.rec

__pycache__/

bluescan.spec
bluescan.egg-info
