/.vscode/.ropeproject
/.vscode/configurationCache.log
/.vscode/dryrun.log
/.vscode/targets.log
/.vscode/launch.json
/.vscode/settings.json

/.idea/
/backup/
/build/
/dist/
/deb_dist/
/doc/private/
/res/private/
/test/
/yotta_modules/
/yotta_targets/

/install.rec
/bluescan-0.7.0.tar.gz

/src/bluescan/poc/bugs.md
/src/bluescan/res/*.cache
/src/bluescan/bluescan_prompt.bash

# symbolic link, not directory
/src/xpycommon
/src/pyclui
/src/btatt
/src/btgatt
/src/btl2cap
/src/btsmp
/src/btsdp
/src/bthci

__pycache__/
bluescan.spec
*.egg-info
